/* Guestbook.css */

.guestbook-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.guestbook-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.guestbook-form {
  margin-bottom: 20px;
}

.guestbook-form input,
.guestbook-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.guestbook-form textarea {
  height: 100px;
}

.guestbook-form button {
  padding: 10px 20px;
  background-color: #a8bfef;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;

}
.guestbook-form button:hover {
  background-color: #a6c5e7;
}
.guestbook-message {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.guestbook-message h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.guestbook-message p {
  margin-bottom: 10px;
}

/* .guestbook-message button {
  padding: 5px 10px;
  background-color: #98c781;
  color: hsl(0, 0%, 92%);
  border: none;
  cursor: pointer;
} */

.guestbook-message button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #d194bf;
  color: hsl(0, 0%, 92%);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.guestbook-message button.edit {
  background-color: #dec17f;
}

.guestbook-message button.delete {
  background-color: #d87070;
  color: #fff;
}

.guestbook-message button:hover {
  background-color: #efcc6d;
}

.guestbook-message button.edit:hover {
  background-color: #8edb97;
}

.guestbook-message button.delete:hover {
  background-color: #4eaa7e;
}


.guestbook-message button:hover {
  background-color: #83c395;
}

.guestbook-message p.no-messages {
  color: #999;
  font-style: italic;
}

